
<html>
<head>
<title>Page Title</title>
</head>
<body>


    <div class="container">
        <div class="username-box">
            <h2>Hi, {{ user.username }}</h2>
        </div>
    
        <div class="dashboard-section">
            <h2>Upcoming Appointments</h2>
            <div class="dashboard-grid">
                {% for appointment in future_appointments %}
                    <div class="card">
                        <h3>Appointment with {{ appointment.tax_advisor.username }}</h3>
                        <p>Start Date: {{ appointment.appointment_date|date:"D, d M Y H:i" }}</p>
                        <p>Notes: {{ appointment.notes }}</p>
                        <p>Confirmed: {{ appointment.confirmed|yesno:"Yes,No" }}</p>
                        <center><a href="{% url 'appointment_update' appointment.pk %}">Edit Your Appointment</a></center>
                    </div>
                {% empty %}
                    <p>No upcoming appointments found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    

</body>
</html>
