{% extends 'base.html' %}
{% load static %}
{% block title %}
Tax Calculator
{% endblock %} 
{% block individual_style %}
<link href="{% static 'calculator/cal_css/tax_calculator.css' %}" rel="stylesheet">
{% endblock %}  
{% block content %}
   <div class="tax-calculator">
   <div class="container">
    <img src="{% static 'human_favicon.png' %}" alt="Tax Calculator Image" height="100px">

      <h1>Income Tax Calculator for AY 2024-25</h1>
      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit">Calculate Tax</button>
      </form>
      <!-- Optional button for individual users -->
      {% if is_indivual_user %}
      <div class="footer-buttons">
         <a href="{% url 'available_advisors_view' %}">
         <button type="button">Show Tax Advisors</button>
         </a>
      </div>
      {% endif %}
      <hr>
      <!-- Additional Services -->
      <div class="services">
        <h2>You can also check our other Services Below !</h2>
        <div class="service-buttons">
          <a href="{% url 'tax_slabs' %}" class="check-tax-schemes">Check Tax Schemes</a>
          <a href="{% url 'tax_calculator_pdf' %}" class="generate-pdf">Generate PDF</a>
          <a href="{% url 'available_advisors_view' %}" class="contact-consultants">Contact Tax Consultants</a>
        </div>
      </div>
   </div>
   <script>
      function showTaxSchemes() {
          alert('Details about various tax schemes...');
      }
      function generatePDF() {
          alert('PDF generation functionality...');
      }
      function contactConsultants() {
          alert('Contact details for tax consultants...');
      }
   </script>
{% endblock %}
