<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Calculator</title>
</head>
<body>
    <h1>Tax Calculator</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calculate Tax</button>
    </form>

     <!-- Button to redirect to the tax advisor list page -->
    {% if is_indivual_user %}
     <a href="{% url 'available_advisors_view' %}">
         <button type="button">Show Tax Advisors</button>
     </a>
    {% endif %}
</body>
</html>
