body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 1s ease-in-out;
}
.form-container h1 {
    color: #fff;
    background-color: #2C3E50;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}
.signup-form label {
    font-weight: bold;
    color: #333;
}
.signup-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.signup-form input:focus {
    border-color: #6a1b9a;
    box-shadow: 0 0 8px rgba(106, 27, 154, 0.5);
}
.signup-form button {
    background: linear-gradient(90deg, #4169E1, #6A5ACD);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.signup-form button i {
    margin-right: 8px;
}
.signup-form button:hover {
    background: linear-gradient(90deg, #6A5ACD, #4169E1);
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}
.signup-form button:active {
    background: linear-gradient(90deg, #5A4EB1, #3A4EB1);
}
.already-member-container {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.already-member a {
    color: #6a1b9a;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s, transform 0.3s;
}
.already-member i {
    margin-right: 8px;
}
.already-member a:hover {
    color: #4169E1;
    transform: scale(1.05);
}
.already-member a:active {
    color: #0056b3;
}
img {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.aesthetic-text {
    text-align: center;
    color: #4169E1; /* Light blue color */
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgba(173, 216, 230, 0.2), rgba(173, 216, 230, 0.5));
    padding: 10px;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}
